#Logo{
    width: 10%;
    height: 10%;
}

#First_Section{
    background-color: antiquewhite;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    font-family:'Montserrat', sans-serif;
}

#rings{
    width: 150%;
    height: 90%;
    padding-right: 40%;
}

#navbar-brand{
    font-size: 3rem;
}

h1{
    font-size: 4rem;
    line-height: 2;
}

.container-fluid{
    padding:3%;
}

.title{
    padding-top: 10%;
}

.row{
    padding-top: 5%;
}

#buttons{
    padding-top: 10%;
}